.ql-editor p {
    font-size: 21px;
    line-height: 1.35;
    margin-bottom: 5px;
}

.ql-editor a {
    color: rgb(7, 0, 66); /* Set the link color to black */
}
.ql-editor img {
    display: block;
    margin: 20px auto; /* Add margin on top and bottom, and center the image */
    max-width: 100%; /* Ensure the image does not overflow the editor width */
    max-height: 500px; /* Restrict the maximum height of the image */
    height: auto; /* Maintain aspect ratio */
}
.ql-header {
    display: none !important; /* Hide the header dropdown */
}
.ql-blockquote {
    display: none !important; /* Hide the toolbar */
}